<link rel="stylesheet" href="css/systemQuota.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<div class="row">
	<div class="col-12">
		<h3 class="float-left">名額調查</h3>
		<span id="lastEditionInfo" class='float-right'>
			上次編輯：<span class="who"></span><br /><span class="when"></span>
		</span>
	</div>
</div>
<hr />

<div class="row">
	<div class="col-2 offset-10 text-center float-right">
		<button class="btn btn-success btn-block" id="btn-pdf">
			下載ＰＤＦ
		</button>
	</div>
</div>

<table id="fixed_quota_table" style="border:4px #622fa5 solid;" cellpadding="10" border='1' align="center">
	<tr>
		<th style="border-right:3px #622fa5 solid; background: linear-gradient(to top right, #fff calc(50% - 2px), #622fa5 , #fff calc(50% + 1px) )">
			<a class="key-right">班別</a>
			<br/>
			<a class="key-left">項目</a>
		</th>
		<th class="bachelor" style="border-right:3px #622fa5 solid; width: 20%;">學士班<br />（含港二技）</th>
		<th class="master" style="border-right:3px #622fa5 solid; width: 20%;">碩士班</th>
		<th class="phd" style="border-right:3px #622fa5 solid; width: 20%;">博士班</th>
	</tr>
	<tr>
		<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid; "><%= year -1911%> 學年度<br/>本地生核定總量</td>
		<td class="bachelor" style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;" id="bachelor_total_amount"></td>
		<td class="master" style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;"id="master_total_amount"></td>
		<td class="phd" style="border-top:3px #622fa5 solid;"id="phd_total_amount"></td>
	</tr>
	<tr>
		<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid; ">X：外加10％名額數<br/>（X=Y+Z）</td>
		<td class="bachelor" style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;"id="bachelor_amount"></td>
		<td class="master" style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;"id="master_amount"></td>
		<td class="phd" style="border-top:3px #622fa5 solid;"id="phd_amount"></td>
	</tr>
	<tr>
		<td style="border:4px #ff3c00 solid; font-weight: bold; font-size:1.1rem; color:#ff3c00">Y：一般系所之外加10%名額數</td>
		<td class="bachelor" style="border:4px #ff3c00 solid; font-size:1.1rem; "id="bachelor_admission_amount"></td>
		<td class="master" style="border:4px #ff3c00 solid; font-size:1.1rem; "id="master_admission_amount"></td>
		<td class="phd" style="border:4px #ff3c00 solid; font-size:1.1rem; "id="phd_admission_amount"></td>
	</tr>
	<tr>
		<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid; ">Z：重點產業系所之外加10%名額數</td>
		<td class="bachelor" style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;"id="bachelor_key_industry_amount"></td>
		<td class="master" style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;"id="master_key_industry_amount"></td>
		<td class="phd" style="border-top:3px #622fa5 solid;"id="phd_key_industry_amount"></td>
	</tr>
</table>

<br />

<table id="input_quota_table" style="border:4px #CFAA9E solid; width: 100%;" cellpadding="12" border='2'>
	<tr>
		<th style="border-right:3px #CFAA9E solid; width: 21%; background: linear-gradient(to top right, #fff calc(50% - 2px), #CFAA9E , #fff calc(50% + 2px) )" colspan="2">
			<a class="key-right">班別</a>
			<br/>
			<a class="key-left">項目</a>
		</th>
		<th class="bachelor" style="border-right:3px #CFAA9E solid;">學士班<br />（含港二技）</th>
		<th class="master" style="border-right:3px #CFAA9E solid;">碩士班</th>
		<th class="phd" style="border-right:3px #CFAA9E solid;">博士班</th>
		<th style="border-right:3px #CFAA9E solid; width: 24%;">說明</th>
	</tr>
	<tr>
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid; width: 7%;" rowspan="5">一<br/>般<br/>系<br/>所</td>
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid; width: 14%;">欲使用名額（A）</td>
		<td class="bachelor" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="bachelor_quota_used" ></td>
		<td class="master" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="master_quota_used" ></td>
		<td class="phd" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="phd_quota_used" ></td>
		<td style="border-top:3px #CFAA9E solid;"></td>
	</tr>
	<tr>
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">班別間名額流用（B）</td>
		<td class="bachelor" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" id="bachelor_quota_passed" ></td>
		<td class="master" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" id="master_quota_passed" ></td>
		<td class="phd" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" id="phd_quota_passed" ></td>
		<td style="border-top:3px #CFAA9E solid;">可以填寫負數，班別間流用相加為零即可。</td>
	</tr>
	<tr>
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">本地生缺額流用（C）</td>
		<td class="bachelor" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="bachelor_surplus_quota" ></td>
		<td class="master" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="master_surplus_quota" ></td>
		<td class="phd" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="phd_surplus_quota" ></td>
		<td style="border-top:3px #CFAA9E solid;"></td>
	</tr>
	<tr>
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">申請 <%= year -1910%> 全校總量擴增（D）</td>
		<td class="bachelor" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="bachelor_expanded_quota" ></td>
		<td class="master" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="master_expanded_quota" ></td>
		<td class="phd" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" id="phd_expanded_quota" ></td>
		<td style="border-top:3px #CFAA9E solid;" id="expanded_quota_directions"></td>
	</tr>
	<tr>
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">總實際需求名額（E=A+B+C+D）</td>
		<td class="bachelor" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" id="bachelor_sum" disabled></td>
		<td class="master" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" id="master_sum" disabled></td>
		<td class="phd" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" id="phd_sum" disabled></td>
		<td style="border-top:3px #CFAA9E solid;"></td>
	</tr>
	<!-- 額外系所名額區域 目前是固定的 不知道哪天想到可能又要可以調整了 所以還是用 input object 來渲染名額-->
	<tr>
		<td style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;  width: 7%;" rowspan="2"><%= year -1910%> 學年度擴大招收僑外生計畫</td>
		<td style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid; width: 14%;">重點產業系所核定名額數（F）</td>
		<td class="bachelor" style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;"><input class="form-control" type="number" id="bachelor_key_industry_quota" disabled></td>
		<td class="master" style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;"><input class="form-control" type="number" id="master_key_industry_quota" disabled></td>
		<td class="phd" style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;"><input class="form-control" type="number" id="phd_key_industry_quota" disabled></td>
		<td style="border-top:6px #CFAA9E solid; width: 24%;" id="key_industry_quota_approved_number"></td>
		<!-- <td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;  width: 7%;" rowspan="2"><%= year -1910%> 學年度擴大招收僑外生計畫</td>
		<td style="border:4px rgb(255, 60, 0) solid; width: 14%;">重點產業系所核定名額數（F）</td>
		<td class="bachelor" style="border:4px rgb(255, 60, 0) solid;"><input class="form-control" type="number" id="bachelor_key_industry_quota" disabled></td>
		<td class="master" style="border:4px rgb(255, 60, 0) solid;"><input class="form-control" type="number" id="master_key_industry_quota" disabled></td>
		<td class="phd" style="border:4px rgb(255, 60, 0) solid;"><input class="form-control" type="number" id="phd_key_industry_quota" disabled></td>
		<td style="border:4px rgb(255, 60, 0) solid; width: 24%;" id="key_industry_quota_approved_number"></td> -->
	</tr>
	<tr>
		<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;  width: 14%;">國際專修部核定名額數（G）</td>
		<td class="bachelor" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" id="bachelor_IFP_quota" disabled></td>
		<td class="master crossed" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><!-- <input class="form-control" type="number" id="master_IFP_quota" disabled> --></td>
		<td class="phd crossed" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><!-- <input class="form-control" type="number" id="phd_IFP_quota" disabled> --></td>
		<td style="border-top:3px #CFAA9E solid;" id="IFP_quota_approved_number"></td>
	</tr>
</table>
<!--  名額調查表格填寫範例  所以不能輸入 數值也是寫死的 -->
<div id="accordion">
	<div class="card">
		<div class="card-header" id="heading">
		<h5 class="mb-0">
			<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
				名額調查表格填寫範例
			</button>
		</h5>
		</div>
		<div id="collapseExample" class="collapse" aria-labelledby="heading" data-parent="#accordion">
			<div class="card-body">
				<table style="border:4px #622fa5 solid;" cellpadding="10" border='1' align="center">
					<tr>
						<th style="border-right:3px #622fa5 solid; background: linear-gradient(to top right, #fff calc(50% - 2px), #622fa5 , #fff calc(50% + 1px) )">
							<a class="key-right">班別</a>
							<br/>
							<a class="key-left">項目</a>
						</th>
						<th style="border-right:3px #622fa5 solid; width: 20%;">學士班<br />（含港二技）</th>
						<th style="border-right:3px #622fa5 solid; width: 20%;">碩士班</th>
						<th style="border-right:3px #622fa5 solid; width: 20%;">博士班</th>
					</tr>
					<tr>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid; "><%= year -1911%> 學年度<br/>本地生核定總量核定總量</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">1534</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">616</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">104</td>
					</tr>
					<tr>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid; ">X：外加10％名額數<br/>（X=Y+Z）</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">153</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">61</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">10</td>
					</tr>
					<tr>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid; ">Y：一般系所之外加10%名額數</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">103</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">40</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">8</td>
					</tr>
					<tr>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid; ">Z：重點產業系所之外加10%名額數</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">50</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">21</td>
						<td style="border-right:3px #622fa5 solid; border-top:3px #622fa5 solid;">2</td>
					</tr>
				</table>
				<br/>
				<table style="border:4px #CFAA9E solid; width: 100%;" cellpadding="12" border='2'>
					<tr>
						<th style="border-right:3px #CFAA9E solid; width: 21%; background: linear-gradient(to top right, #fff calc(50% - 2px), #CFAA9E , #fff calc(50% + 2px) )" colspan="2">
							<a class="key-right">班別</a>
							<br/>
							<a class="key-left">項目</a>
						</th>
						<th style="border-right:3px #CFAA9E solid;">學士班<br />（含港二技）</th>
						<th style="border-right:3px #CFAA9E solid;">碩士班</th>
						<th style="border-right:3px #CFAA9E solid;">博士班</th>
						<th style="border-right:3px #CFAA9E solid; width: 24%;">說明</th>
					</tr>
					<tr>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid; width: 7%;" rowspan="5">一<br/>般<br/>系<br/>所</td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid; width: 14%;">欲使用名額（A）</td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="103" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="40" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="8" disabled></td>
						<td style="border-top:3px #CFAA9E solid;"></td>
					</tr>
					<tr>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">班別間名額流用（B）</td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" value="-13" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" value="11" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" value="2" disabled></td>
						<td style="border-top:3px #CFAA9E solid;">可以填寫負數，班別間流用相加為零即可。</td>
					</tr>
					<tr>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">本地生缺額流用（C）</td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="0" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="4" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="0" disabled></td>
						<td style="border-top:3px #CFAA9E solid;"></td>
					</tr>
					<tr>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">申請 <%= year -1910%> 全校總量擴增（D）</td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="0" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="0" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="2" disabled></td>
						<td style="border-top:3px #CFAA9E solid;"><a class="text-danger">請記得填寫「招生名額增量申請表」並回傳</a></td>
					</tr>
					<tr>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;">總實際需求名額（E=A+B+C+D）</td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" value="90" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" value="55" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" value="12" disabled></td>
						<td style="border-top:3px #CFAA9E solid;"></td>
					</tr>

					<tr>
						<td style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;  width: 7%;" rowspan="2"><%= year -1910%> 學年度擴大招收僑外生計畫</td>
						<td style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;  width: 14%;">重點產業系所核定名額數（F）</td>
						<td style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="40" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="21" disabled></td>
						<td style="border-right:3px #CFAA9E solid; border-top:6px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="2" disabled></td>
						<td style="border-top:6px #CFAA9E solid; width: 24%;">依教育部 OOOOOOOOA 函核定</td>
					</tr>
					<tr>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;  width: 14%;">國際專修部核定名額數（G）</td>
						<td style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><input class="form-control" type="number" min="0" value="50" disabled></td>
						<td class="diagonalCrossRight" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><!-- <input class="form-control" type="number" disabled> --></td>
						<td class="diagonalCrossRight" style="border-right:3px #CFAA9E solid; border-top:3px #CFAA9E solid;"><!-- <input class="form-control" type="number" disabled> --></td>
						<td style="border-top:3px #CFAA9E solid;">依教育部 OOOOOOOOB 函核定</td>
					</tr>
				</table>
			</div>
			<div class="form-group col-9 offset-1">
				<label for="comment" style="font-weight: bold;font-size:larger">說明：</label>
				<textarea class="form-control" rows="5" style="resize:none;" disabled>
					學士班實際招生名額為 90 名(原招生名額為 103 名，減去學士班流用名額 13 名)；
					碩士班實際招生名額為 55 名(原招生名額為 40 名，加上碩士班流用名額 11 名，碩士班本地缺額 4 名)；
					博士班實際招生名額為 12 名(原招生名額為 8 名，加上博士班流用名額 2 名，申請名額增量 2 名)。
					重點產業系所實際招生名額，學士班為 40 名、碩士班為 21 名、博士班為 2 名，名額依教育部 OOOOOOOOA 函核定。
					國際專修部實際招生名額，學士班為 40 名，名額依教育部 OOOOOOOOB 函核定。
				</textarea>
			</div>
		</div>
	</div>
</div>

<br />

<table id="medicine_quota" class="hide" style="border:4px #D499B9 solid;" cellpadding="10" border='1' align="center">
	<tr>
		<th style="border-right:3px #D499B9 solid;" rowspan="2">學士班（含港二技）<br/>總實際需求名額（E）</th>
		<th style="border-right:3px #D499B9 solid;" colspan="3">醫學系</th>
		<th rowspan="2">其餘科系可使用名額<br/>（I=E-H）</th>
	</tr>
	<tr>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;">招生管道</td>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;">各管道分配名額</td>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;" >招生名額小計（H）</td>
	</tr>
	<tr>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;" rowspan="3"><input class="form-control" id="bachelor_quota_sum" disabled></td>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;">個人申請</td>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;"><input type="number" min="0" class="form-control" id="quota_medicine_selection" disabled></td>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;" rowspan="3"><input class="form-control" id="medicine_quota_sum" disabled></td>
		<td style="border-top:3px #D499B9 solid;" rowspan="3"><input class="form-control" id="bachelor_except_medicine_quota_sum" disabled></td>
	</tr>
	<tr>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;">聯合分發</td>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;"><input type="number" min="0" class="form-control" id="quota_medicine_placement" disabled></td>
	</tr>
	<tr>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;">單獨招生</td>
		<td style="border-right:3px #D499B9 solid; border-top:3px #D499B9 solid;"><input type="number" min="0" class="form-control" id="quota_medicine_self" disabled></td>
	</tr>
</table>

<br />

<table class="IACP_table hide" style="border:4px #99c8d4 solid;" cellpadding="10" border='1' align="center">
	<tr>
		<th style="border-right:3px #99c8d4 solid;" rowspan="2">學士班（含港二技）<br/>總實際需求名額（E）</th>
		<th style="border-right:3px #99c8d4 solid;" colspan="2">產學攜手合作計畫</th>
		<th style="border-right:3px #99c8d4 solid;" rowspan="2">其餘科系可使用名額<br/>（I=E-H）</th>
	</tr>
	<tr>
		<td style="border-right:3px #99c8d4 solid; border-top:3px #99c8d4 solid;">核定名額（上限）</td>
		<td style="border-right:3px #99c8d4 solid; border-top:3px #99c8d4 solid;">欲使用名額（H）</td>
	</tr>
	<tr>
		<td style="border-right:3px #99c8d4 solid; border-top:3px #99c8d4 solid;"><input class="form-control" id="bachelor_quota_sum_for_IACP" disabled></td>
		<td style="border-right:3px #99c8d4 solid; border-top:3px #99c8d4 solid;" id="bachelor_IACP_amount"></td>
		<td style="border-right:3px #99c8d4 solid; border-top:3px #99c8d4 solid;"><input type="number" min="0" class="form-control" id="bachelor_IACP_quota"></td>
		<td style="border-right:3px #99c8d4 solid;border-top:3px #99c8d4 solid;"><input class="form-control" id="bachelor_except_IACP_quota_sum" disabled></td>
	</tr>
</table>

<div class="row" style="padding-top: 3%;">
	<div class="form-group col-9 offset-1">
		<label for="comment" style="font-weight: bold;font-size:larger">備註：</label>
		<textarea class="form-control" rows="5" id="description" style=""></textarea>
	</div>
</div>

<hr />


<div class="row" style="font-size:18px; width: 95%;">
	<ul>
		<li>依據<a href="https://drive.google.com/file/d/109ZCkb6nMv7GYGeHNhmJqJoaxcR93XCz/view?usp=sharing" target="_blank">教育部113年4月25日臺教高通字第1130038000號函（含填表說明）</a>辦理。</li>
		<li>請於 113 年 6 月 14 日（星期五）下午 5 時前登入本系統填報 114 學年度各班別僑、港澳生招生名額需求（含招生名額增量申請表），確認無誤並列印系統產生之「114學年度僑、港澳生名額總量調查回覆表」，經單位主管簽章確認後，回傳至本會（電子郵件信箱：<a href="mailto:overseassurvey@gmail.com">overseassurvey@gmail.com</a>，傳真：<a href="tel:+886-49-2911182"> 049-2911182</a>），始完成僑生名額填報作業。</li>
		<li>欲申請僑、港澳生名額增量之學校，務必下載並填列「<a href="https://drive.google.com/file/d/1iYnkbjm0gql-5ivaPHVAxsDX5hXdyHFH/view?usp=sharing" target="_blank">114招生名額增量申請表</a>」，於 113 年 6 月 14 日（星期五）前併同提出增量原因、品質控管策略及配套措施，備文報部核定並副知本會，調查表電子檔併寄至本會電子郵件信箱（<a href="mailto:overseassurvey@gmail.com">overseassurvey@gmail.com</a>）俾利彙整。</li>
	</ul>
</div>

<div class="row">
	<div class="col-3 text-center offset-2">
		<button id="btn-save" data-action="save" class="btn btn-primary">
			儲存
		</button>
	</div>
	<div class="col-3 text-center">
		<button id="btn-confirm" data-action="save" class="btn btn-danger">
			提交並不再修改
		</button>
	</div>
</div>
