<link rel="stylesheet" href="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.standalone.min.css">
<div class="row">
	<div class="col-6 text-left">
		<h2>學制資訊</h2>
	</div>
	<div class="col-6 text-right">
		<button class="btn btn-success" id="sendPreviewPDF-btn">
			<% if(system == 'bachelor') { -%>
				寄送學士班預覽版 PDF
			<% } else if(system == 'twoYear') { -%>
				寄送港二技預覽版 PDF
			<% } else if(system == 'master') { -%>
				寄送碩士班預覽版 PDF
			<% } else { -%>
				寄送博士班預覽版 PDF
			<% } -%>
		</button>

		<button class="btn btn-warning hide" id="sendFormalPDF-btn">
			<% if(system == 'bachelor') { -%>
				寄送學士班正式版 PDF
			<% } else if(system == 'twoYear') { -%>
				寄送港二技正式版 PDF
			<% } else if(system == 'master') { -%>
				寄送碩士班正式版 PDF
			<% } else { -%>
				寄送博士班正式版 PDF
			<% } -%>
		</button>

		<span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="請先鎖定學校資料！" id="lockSystem-tooltip">
			<button class="btn btn-danger " id="lockSystem-btn" >
				確認送出並鎖定
			</button>
		</span>


	</div>
</div>

<div id="form-deptInfo">
	<div class="row">
		<div class="form-group col">
			<label for="description" class="text-danger">學制中文備註*</label>
			<textarea id="description" type="text" class="form-control required" rows="6"></textarea>
		</div>
	</div>
	<div class="row">
		<div class="form-group col">
			<label for="engDescription" class="text-danger">學制英文備註*</label>
			<textarea id="engDescription" type="text" class="form-control required" rows="6"></textarea>
		</div>
	</div>
	<div class="row">
    <div class="col-12 text-center">
      <button id="btn-deptInfoSave" data-action="save" class="btn btn-primary">
        儲存
      </button>
    </div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-7 col-6">
		<h2>系所列表</h2>
	</div>
	<div class="col-md-5 col-6 text-right">
		<div class="form-group">
			<input id="dept-filter-input" class="form-control" type="text" placeholder="可輸入代碼或名稱搜尋">
		</div>
	</div>
</div>

<table id="dept-list" class="table table-hover sortable">
	<thead class="table-warning">
		<tr>
			<th data-defaultsign='nospan' style="width:3%"></th>
			<th style="width:5%">#</th>
			<th style="width:7%">代碼</th>
			<th>名稱</th>
			<th style="width:10%">上次編輯者</th>
			<th style="width:15%">上次編輯時間</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>

<div class="modal fade" id="editDeptInfoModal" tabindex="-1" role="dialog" aria-labelledby="editDeptInfoTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content" id="modal-deptInfo">

			<div class="modal-header">
				<h5 class="modal-title" id="editDeptInfoTitle">
					系所詳細資料
				</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<div class="modal-body">
				<div class="container-fluid">
					<form>
						<div class="row">
							<div id="sortOrderForm" class="form-group col-6">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											簡章順序
										</div>
									</div>
									<input type="text" class="form-control" id="sortOrder" disabled>
								</div>
							</div>
							<div class="form-group col-6">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text">
											系所代碼
										</div>
									</div>
									<input type="text" class="form-control" id="id" disabled>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-6">
								<label class="form-control-label" for="">核定系名 <span class="badge" id="extendedTag"></span></label>
								<input type="text" class="form-control" id="titleMain" disabled>
							</div>
							<div id="engTitleForm" class="form-group col-6">
								<label class="form-control-label" for="">招生分組</label>
								<input type="text" class="form-control" id="titleDivision">
							</div>
						</div>
						<div class="row">
							<!--<div class="form-group col-6">
								<label class="form-control-label" for="">中文名稱</label>
								<input type="text" class="form-control" id="title" disabled>
							</div>-->
							<div id="engTitleForm" class="form-group col-12">
								<label class="form-control-label" for="">英文名稱</label>
								<input type="text" class="form-control" id="engTitle" disabled>
							</div>
						</div>
						<div class="row">
							<div id="urlForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">系所中文網站網址*</label>
								<input type="url" class="form-control " id="url">
							</div>
							<div id="engUrlForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">系所英文網站網址*</label>
								<input type="url" class="form-control " id="engUrl">
							</div>
						</div>
						<div class="row">
							<div id="mainGroupForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">主要隸屬學群*</label>
								<select class="form-control" id="mainGroup">
								</select>
							</div>
							<div id="subGroupForm" class="form-group col-6">
								<label class="form-control-label" for="">次要隸屬學群</label>
								<select class="form-control" id="subGroup">
								</select>
							</div>
						</div>
						<div class="row">

						<% if(system == 'bachelor') { -%>
							<div id="groupCodeForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">類組*</label>
								<select class="form-control" id="groupCode" disabled>
									<option value="1">第一類組</option>
									<option value="2">第二類組</option>
									<option value="3">第三類組</option>
								</select>
							</div>
						<% } -%>

							<div id="genderLimitForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">招收性別限制*</label>
								<select class="form-control" id="genderLimit">
									<option value="">男女兼收</option>
									<option value="M">限收男</option>
									<option value="F">限收女</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div id="moeCheckFailedForm" class="form-group col-6">
								<label class="form-control-label text-danger" for=""><br />是否經教育部查核被列為持續列管或不通過*</label>
								<select class="form-control" id="moeCheckFailed" disabled>
									<option value="2">未納入查核</option>
									<option value="0">通過</option>
									<option value="1">為持續列管或不通過（不得提供僑生名額）</option>
								</select>
							</div>
							<div id="teacherQualityPassedForm" class="form-group col-6">
								<label class="form-control-label text-danger" for="">師資質量是否達「專科以上學校總量發展規模與資源條件標準」附表五所定基準*</label>
								<select class="form-control" id="teacherQualityPassed" disabled>
									<option value="Y">已達所定基準</option>
									<option value="N">未達所定基準（不得提供僑生名額）</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div id="descriptionForm" class="form-group col">
								<label class="form-control-label text-danger" for="">中文系所簡介*</label><br />
								<ol style="color: darkcyan; background-color: lightgoldenrodyellow; border-radius: 25px;">
									<li>
										請填寫系所簡介、課程領域及未來發展等說明，以利學生了解該科系內容。
									</li>
									<li>
										如有招生特殊限制（如辨色異常、身心障礙及是否提供身心障礙學生學習輔具資源及生活照輔措施資源），請依據教育部108年8月26日臺教高（四）字第1080114654號函之「各大專校院招生簡章校系分則說明或備註字句調整建議參考」撰寫系所分則說明或備註。
									</li>
									<li style="color:red;">
										請勿在此填寫個人申請繳交資料說明。
									</li>
								</ol>
								<textarea class="form-control " rows="4" id="description" placeholder="請輸入系所中文描述"></textarea>
							</div>
						</div>
						<div class="row">
							<div id="engDescriptionForm" class="form-group col">
								<label class="form-control-label text-danger" for="">英文系所簡介*</label>
								<textarea class="form-control" rows="4" id="engDescription" placeholder="Please enter a description about this department in English."></textarea>
							</div>
						</div>

						<div id="selfEnrollmentChoose">
							<% if(system == 'twoYear') { -%>
							<%- include ('deptInfoForm/_selfEnrollmentTwoYear') %>
							<% } else { -%>
							<%- include ('deptInfoForm/_selfEnrollmentOthers') %>
							<% } -%>


							<% if(system == 'bachelor') { -%>
							<%- include ('deptInfoForm/_quotaBachelor') %>
							<% } else { -%>
							<%- include ('deptInfoForm/_quotaOthers') %>
							<% } -%>
						</div>
						<hr>

						<div class="row" id="limitBlock">
							<div class="col">
								<div class="card">
									<div class="card-header bg-primary text-white">
										系組招生規定
									</div>
									<div class="card-body">
										<div class="card-block">
												<div class="form-check" style="display:none">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasForeignSpecialClass" value="">
														是否招收外生專班（若是，請勾選）
													</label>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasEngTaught" value="">
														是否為全英文授課（若是，請勾選）
													</label>
												</div>
												<div class="form-check" style="display:none">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasDisabilities" value="">
														是否招收身障學生
													</label>
												</div>
												<div class="form-check" style="display:none">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasBuHweiHwaWen" value="">
														是否招收不具華文基礎學生（若是，請勾選）
													</label>
												</div>
												<div class="form-check">
													<label class="form-check-label">
														<input class="form-check-input" type="checkbox" id="hasBirthLimit" value="">
														有無年齡限制（若有，請勾選，並填列以下出生日期）
													</label>
												</div>

											<hr>
											<p>限制出生日期</p>
											<div class="form-inline">
												<div id="birthLimitAfterForm" class="input-group mb-2 mr-sm-2 mb-sm-0">
													<input type="text" class="form-control datepicker" id="birthLimitAfter">
													<div class="input-group-append">
														<div class="input-group-text">
															以後
														</div>
													</div>
												</div>
											</div>
											<div class="form-inline" style="padding-top: 20px;">
												<div id="birthLimitBeforeForm" class="input-group mb-2 mr-sm-2 mb-sm-0">
													<input type="text" class="form-control datepicker" id="birthLimitBefore">
													<div class="input-group-append">
														<div class="input-group-text">
															以前
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<hr>

						<div id="review-div">

							<div id="form-reviewItems">
								<div v-for="type in reviewItemsTypes">
									<div class="card">
										<div class="card-header bg-primary text-white">
												{{type.name + "（若需要此項目，請勾選）"}}
										</div>
										<div class="card-body">
											<div class="card-block">
												<div class="row">
													<div class="col-lg-6">
														<div class="form-group">
															<div class="input-group">
																<div class="input-group-prepend">
																	<div class="input-group-text">
																		<input type="checkbox" v-model="type.needed" v-bind:disabled="!type.modifiable">
																	</div>
																</div>
																<input
																type="text"
																class="form-control"
																style="background-color: white;"
																v-bind:value="type.name"
																disabled>
															</div>
														</div>
													</div>
													<div class="col-lg-6">
														<div class="form-group">
															<div class="input-group">
																<div class="input-group-prepend">
																	<div class="input-group-text">
																		<input type="checkbox" v-model="type.required" v-bind:disabled="!type.modifiable || !type.needed">
																	</div>
																</div>
																<input
																type="text"
																class="form-control"
																style="background-color: white;"
																value="是否設為必繳資料（若是，請勾選）"
																disabled>
															</div>
														</div>
													</div>
												</div>

												<!-- 如果是師長推薦函 -->
												<!-- 8 26 46 66 -->
												<div v-if="type.id == 8 || type.id == 26 || type.id == 46 || type.id == 66">
													<div class="row">
														<div class="col-lg-6">
															<div class="form-group">
																<div class="input-group">
																	<div class="input-group-prepend">
																		<div class="input-group-text">
																			<input type="checkbox" v-model="type.need_paper" v-bind:disabled="!type.needed">
																		</div>
																	</div>
																	<input
																	type="text"
																	class="form-control"
																	style="background-color: white;"
																	value="是否需要紙本推薦函（若是，請勾選）"
																	disabled>
																</div>
															</div>
														</div>
														<!--填報系統上傳師長推薦函方式-->
														<div id="recommendation-letter-upload-method-form" class="form-group col-6">
															<select id="recommendation-letter-upload-method" class="form-control" v-bind:disabled="type.need_paper || !type.needed">
																<option value="" style="display: none" v-bind:selected="!type.needed" selected disabled>===== 請選擇接受的系統上傳方式 =====</option>
																<option value="0">由〔學生自行上傳〕或〔email 邀請師長上傳〕</option>
																<option value="1">由〔學生自行上傳〕</option>
																<option value="2">由學生〔email 邀請師長上傳〕</option>
																<option value="-1" disabled v-bind:selected="type.need_paper">紙本推薦函（不透過系統上傳）</option>
															</select>
														</div>
													</div>

													<div id="paper-form-div">
														<div class="row">
															<div class="form-group col-6">
																<label class="text-danger">收件人英文姓名*</label>
																<input type="text" class="form-control" v-model="type.recipient" v-bind:disabled="!type.need_paper || !type.needed" v-bind:class="{'is-invalid': type.recipient_error}">
															</div>
															<div class="form-group col-6">
																<label class="text-danger">聯絡電話*</label>
																<input type="text" class="form-control" v-model="type.recipient_phone" v-bind:disabled="!type.need_paper || !type.needed" v-bind:class="{'is-invalid': type.recipient_phone_error}">
															</div>
														</div>
														<div class="row">
															<div class="form-group col-12">
																<label class="text-danger">英文收件地址*</label>
																<input type="text" class="form-control" v-model="type.recieve_address" v-bind:disabled="!type.need_paper || !type.needed" v-bind:class="{'is-invalid': type.recieve_address_error}">
															</div>
														</div>
														<div class="row">
															<div class="form-group col-6">
																<label class="text-danger">E-mail*</label>
																<input type="email" class="form-control" v-model="type.recieve_email" v-bind:disabled="!type.need_paper || !type.needed" v-bind:class="{'is-invalid': type.recieve_email_error}">
															</div>
															<div class="form-group col-6" id="recieveDeadlineDiv">
																<label class="text-danger">收件期限*（建議<%= year - (-1)%>年1月10日前截止）</label>
																<input id="recieveDeadline" type="text" class="form-control datepicker" v-bind:disabled="!type.need_paper || !type.needed">
															</div>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-12">
														<div class="form-group">
															<label class="form-control-label" for="">審查項目中文說明</label>
															<textarea class="form-control" rows="3" v-model="type.description" v-bind:class="{'is-invalid': type.error}" placeholder="請輸入詳細說明，如份數與類型（畢業證書 / 修業證明 / 離校證明 / 在學證明）等"></textarea>
														</div>
													</div>
												</div>

												<div class="row">
													<div class="col-12">
														<div class="form-group">
															<label for="">審查項目英文說明</label>
															<textarea class="form-control" rows="3" v-model="type.eng_description" v-bind:class="{'is-invalid': type.engerror}" placeholder="Please enter a detailed description in English, such as the number of copies and type (graduation certificate / enrollment certificate / leaving certificate / school attendance certificate), etc."></textarea>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="card-footer text-muted">
											{{type.upload_restrictions }}
										</div>
									</div>
									<hr>
								</div>
							</div>
						</div>

						<div class="row" hidden>
							<div id="memoForm" class="form-group col">
								<label class="form-control-label" for="memo">Memo</label>
								<textarea class="form-control" rows="4" id="memo"></textarea>
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-primary" id="deptDetailSave">儲存</button>
        		<button type="button" class="btn btn-danger" data-dismiss="modal">離開</button>
			</div>

		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/bootstrap-sortable/2.0.0/bootstrap-sortable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="js/deptInfo.js"></script>
