<% 
	function isActive(page) {
		return current.source == page ? 'active' : '';
	}
%>
<script>
	$('body').loading();
	User.checkLogin('school_editor').then(() => {
		setTimeout(function () {
			$('body').loading('stop');
		}, 400);
	});
</script>
<div class="row">
	<button id="btn-toggle" class="btn btn-sm btn-secondary">
		<i class="fa fa-bars" aria-hidden="true"></i>
	</button>
	<div id="sidebarWrap" class="col-3 col-lg-2">
		<div id="sidebar">
			<div class="row">
				<div class="col-xl-3">
					<img src="http://www.overseas.ncnu.edu.tw/film/images/logo2014.png" alt="overseas" width="100%">
				</div>
				<div class="col-xl-9">
					<small>海外聯招會委員學校平台</small><br />
					簡章調查系統
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-12">
					<div id="menu" class="list-group">
						<a href="./index.html" class="list-group-item list-group-item-action <%= isActive('index') %>">最新消息</a>
						<a href="./schoolInfo.html" class="list-group-item list-group-item-action <%= isActive('schoolInfo') %>">學校資料</a>
						<a href="#" class="list-group-item list-group-item-action category">系所資料&nbsp;&nbsp;<small><i class="fa fa-chevron-down" aria-hidden="true"></i></small></a>
						<a href="./deptInfoBache.html" class="list-group-item list-group-item-action <%= isActive('deptInfoBache') %> sub">學士班</a>
						<a href="./deptInfoTwoYear.html" class="list-group-item list-group-item-action <%= isActive('deptInfoTwoYear') %> sub">港二技</a>
						<a href="./deptInfoMaster.html" class="list-group-item list-group-item-action <%= isActive('deptInfoMaster') %> sub">碩士班</a>
						<a href="./deptInfoPhd.html" class="list-group-item list-group-item-action <%= isActive('deptInfoPhd') %> sub">博士班</a>
						<a href="#" class="list-group-item list-group-item-action category">名額分配&nbsp;&nbsp;<small><i class="fa fa-chevron-down" aria-hidden="true"></i></small></a>
						<a href="./quotaDistributionBache.html" class="list-group-item list-group-item-action <%= isActive('quotaDistributionBache') %> sub">學士班</a>
						<a href="./quotaDistributionTwoYear.html" class="list-group-item list-group-item-action <%= isActive('quotaDistributionTwoYear') %> sub">港二技</a>
						<a href="./quotaDistributionMaster.html" class="list-group-item list-group-item-action <%= isActive('quotaDistributionMaster') %> sub">碩士班</a>
						<a href="./quotaDistributionPhd.html" class="list-group-item list-group-item-action <%= isActive('quotaDistributionPhd') %> sub">博士班</a>
						<a href="./account.html" class="list-group-item list-group-item-action <%= isActive('account') %>">帳號管理</a>
					</div>
				</div>
			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<div>
						<h5 class="d-inline">帳號資訊</h5>
						<span id="badge-role" class="badge badge-warning float-right"><!-- 管理員 --></span>
					</div>
					<div id="userSchool"><!-- 國立暨南國際大學 --></div>
					<div id="userName"><!-- 吳富悅 --></div><br />
					<button id="btn-editAccount" class="btn btn-secondary btn-block">編輯</button>
					<button id="btn-logout" class="btn btn-secondary btn-block">登出</button>
				</div>
			</div>
		</div>
	</div>
	<div id="pageContent" class="col-md-9 col-lg-10">
		<%- yield %>
	</div>
</div>
<link rel="stylesheet" href="css/sidebar.css">
<script src="js/accountEditModal.js"></script>
<script src="js/sidebar.js"></script>
